.desc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  background: rgba(3, 3, 3, 0.7); /*  70% opaque green */
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.desc-card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin-bottom: 20px;
}

.desc-card h3 {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 10px;
}

.desc-card p {
  font-size: 1em;
  margin: 0;
}

.desc-card-year {
  font-weight: bold;
  color: #ffffff;
}

.desc-card-description {
  text-align: center;
  color: #f3eeee;
}
